<transition name="slideLeft">
  <section v-if="seenTopAnime.showBox" class="hero-image-square">
    <nuxt-link to="/company" class="hero-image-square-content">
      <transition name="fadeDown">
        <h3
          class="hero-image-square-content-title"
          v-if="seenTopAnime.showTitle"
        >
          CONCEPT
        </h3>
      </transition>
      <p class="hero-image-square-content-sub">
        This is a JAMStack corporate site demo.
      </p>
      <p class="hero-image-square-content-message">
        Core technologies are Nuxt.js + Contentful + Netlify.<br />
        Also Vuex, Scss, anime.js and so on.<br />
        My mission is to make our life more convenient and useful.<br />
      </p>
      <nuxt-link class="hero-image-square-content-button" to="/company">
        <font-awesome-icon
          icon="chevron-right"
          class="hero-image-square-content-button-arrow"
        />MORE
      </nuxt-link>
    </nuxt-link>
  </section>
</transition>
