<nuxt-link :to="`/blog/entry/${post.slug}`">
  <article class="postcard" :class="direction">
    <img class="postcard-image" :src="post.image" />
    <section class="postcard-tag">
      <p class="postcard-tag-item" v-for="tag in post.tags">{{ tag }}<br /></p>
    </section>
    <p class="postcard-date">{{ post.date }}</p>
    <h2 class="postcard-title">{{ post.title }}</h2>
    <p class="postcard-overview">{{ post.overview }}</p>
    <MoreButton class="postcard-more-button" />
  </article>
</nuxt-link>
