$video-width: 1600px;
$video-height: 900px;
$video-width-sp: 768px;
$video-height-sp: 432px;
$box-width: 400px;

.hero-image {
  &-video {
    position: relative;
    padding-left: 130px;

    @include media(m) {
      padding: 0;
    }

    &-main {
      min-width: 100%;
      max-width: 130%;
      @include z-index(default);
      @include media(m) {
        top: 0;
        padding: 0;
      }
    }
    &-wrap {
      position: absolute;
      top: 0px;
      width: 200%;
      height: 100%;

      @include z-index(filter);
      background-color: #dcf7f4;
      background: repeating-linear-gradient(
          45deg,
          #fff,
          #fff 4px,
          transparent 4px,
          transparent 12px
        ),
        repeating-linear-gradient(
          -45deg,
          #fff,
          #fff 4px,
          transparent 0,
          transparent 10px
        );
      opacity: 0.1;
    }
  }

  &-square {
    display: grid;
    grid-template-columns: 1fr $box-width;
    grid-template-rows: 20% 1fr 10%;
    position: absolute;
    @include z-index(item);
    left: 0;
    top: 350px;
    background-color: $color-main;
    width: 42%;
    min-width: $box-width;
    height: 350px;
    opacity: 0.9;

    @include media(m) {
      position: relative;
      top: -100px;
      max-width: 400px;
      width: 100%;
      min-width: auto;
      height: $video-height-sp * 3 / 4;
    }

    &-content {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      color: white;
      padding-left: 10%;
      padding-right: 5%;
    }
  }

  &-scroll {
    display: grid;
    position: absolute;
    margin-top: 760px;
    margin-left: 35%;
    @include z-index(item);
    color: white;

    &-character {
      font-size: 20px;
    }

    &-arrow-top {
      margin-left: 15px;
    }

    &-arrow-middle {
      margin-left: 15px;
    }

    &-arrow-bottom {
      margin-left: 15px;
    }
  }
}
