$box-width: 400px;
$video-height-sp: 432px;

.key-visual-style-box {
  display: grid;
  grid-template-columns: 1fr $box-width;
  @include z-index(item);
  background-color: $color-main;
  min-width: $box-width;
  height: 370px;
  opacity: 0.9;

  &-content {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: white;
    padding: {
      left: 10%;
      right: 5%;
    }
    &-title {
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 30px;
      font-size: 30px;
      &:before {
        @include under-bar(-3px, 40px, 3px);
      }
    }
    &-sub {
      padding-bottom: 15px;
      font-size: 15px;
    }
    &-info {
      flex-basis: 80%;
      font-size: 20px;
    }
  }
}
