$layer: (
  modal: 100,
  header: 20,
  tooltip: 1,
  default: 1
);

@mixin z-index($key) {
  z-index: map-get($layer, $key);
}

$breakpoints: (
  s: 'only screen and (width <= 481px)',
  m: 'only screen and (481 < width <= 769px)',
  l: 'only screen and (769px < width <= 1200px)'
);

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
