$layer: (
  modal: 100,
  header: 20,
  item: 10,
  filter: 5,
  default: 1
);

@mixin z-index($key) {
  z-index: map-get($layer, $key);
}

$breakpoints: (
  s: 'only screen and (width <= 481px)',
  m: 'only screen and (width <= 769px)',
  l: 'only screen and (769px < width <= 1200px)'
);

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin key-visual-effect($width, $height) {
  position: absolute;
  top: 0px;
  width: $width;
  height: $height;
  background-color: #dcf7f4;
  background: repeating-linear-gradient(
      45deg,
      #fff,
      #fff 4px,
      transparent 4px,
      transparent 12px
    ),
    repeating-linear-gradient(
      -45deg,
      #fff,
      #fff 4px,
      transparent 0,
      transparent 10px
    );
  opacity: 0.1;
}

@mixin key-visual-info-box($top) {
  position: absolute;
  top: $top;
  left: 0;
  width: 42%;
  @include media(m) {
    position: relative;
    top: -100px;
    max-width: 400px;
    width: 100%;
    min-width: auto;
    height: 300px;
  }
}

@mixin key-visual-position {
  position: relative;
  margin-left: 6%;

  @include media(m) {
    margin-left: 0;
    padding: 0;
  }
}

@mixin key-visual-size {
  width: 110%;
  @include media(m) {
    top: 0;
    padding: 0;
  }
}

@mixin under-bar($bottom, $left, $width, $height, $color) {
  content: '';
  position: absolute;
  bottom: $bottom;
  left: $left;
  width: $width;
  height: $height;
  background-color: $color;
}
