$layer: (
  modal: 100,
  header: 20,
  tooltip: 1,
  default: 1
);

@mixin z-index($key) {
  z-index: map-get($layer, $key);
}

$breakpoints: (
  m: 'only screen and (width < 768px)',
  l: 'only screen and (768px <= width <= 1200px)'
);

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
