$width-base: 1240px;
$width-min: 800px;

$font-base: arial;
$font-serif: sans-serif;

$medium: 768px;

$color-main: #29206d;
$color-background: #f7f7f7;
$color-font: black;
$color-accent: #750f39;

$logo: 151px;
