$width-base: 1240px;
$width-min: 800px;

$font-base: arial;
$font-serif: sans-serif;

$medium: 768px;

$color-main: #29206d;
$color-background: #f7f7f7;
$color-font: black;
$color-accent: #750f39;

$logo-x: 151px;
$logo-y-pc-fixed: 100px;
$header-height-pc: 150px;
$header-height-pc-fixed: 100px;
$header-height-sp: 100px;
$hooter-height-pc: 200px;
