<address>
  <table>
    <tbody>
      <tr>
        <th>名前</th>
        <td>Sample</td>
      </tr>
      <tr>
        <th>住所</th>
        <td>〒111-1111 東京都〇〇区〇〇1-1-1 〇〇ビル5F</td>
      </tr>
      <tr>
        <th>TEL</th>
        <td>03-0000-0000</td>
      </tr>
      <tr>
        <th>代表者</th>
        <td>植田 侑樹男</td>
      </tr>
      <tr>
        <th>営業時間</th>
        <td>14:00〜23:00</td>
      </tr>
      <tr>
        <th></th>
        <td><WeeklyCalender /></td>
      </tr>
    </tbody>
  </table>
</address>
