.header-sp {
  display: grid;
  height: $header-height-sp;
  grid-template-rows: $header-height-sp;
  grid-template-columns: $logo 1fr $header-height-sp;

  &-logo {
    grid-column: 1 / 2;
    margin: auto;
  }

  &-content {
    grid-column: 2 / 3;
    margin: auto;
    font-size: 20px;
  }

  &-menu-toggle {
    grid-column: 3 / 4;
    margin: auto;
  }
}
