.hero-image {
  @include media(m) {
    margin-bottom: -100px;
  }
  &-video {
    @include key-visual-position;
    &-dummy {
      @include key-visual-size;
    }
    &-main {
      @include key-visual-size;
      position: absolute;
      top: 0;
    }
    &-wrap {
      @include key-visual-effect(200%, 100%);
    }

    &-scroll {
      display: grid;
      position: absolute;
      bottom: 10px;
      right: 45%;
      left: 55%;
      @include z-index(item);
      color: white;

      &-character {
        text-align: center;
        font-size: 15px;
      }
      &-arrow-top {
        margin-left: 35%;
      }
      &-arrow-middle {
        margin-left: 35%;
      }
      &-arrow-bottom {
        margin-left: 35%;
      }
    }
  }
  &-box {
    @include key-visual-info-box($header-height-pc + 3px);
  }
}
