<section class="hero-image">
  <div class="hero-image-video">
    <img :src="image.heroImage" class="hero-image-video-dummy" />
    <video
      src="~/assets/movies/heroMovie.mp4"
      autoplay
      loop
      muted
      :poster="image.heroImage"
      class="hero-image-video-main"
    ></video>
    <div class="hero-image-video-wrap"></div>
    <section v-if="$mq==='desktop'" class="hero-image-video-scroll">
      <p class="hero-image-video-scroll-character">SCROLL</p>
      <font-awesome-icon
        icon="chevron-down"
        class="hero-image-video-scroll-arrow-top"
      />
      <font-awesome-icon
        icon="chevron-down"
        class="hero-image-video-scroll-arrow-middle"
      />
      <font-awesome-icon
        icon="chevron-down"
        class="hero-image-video-scroll-arrow-bottom"
      />
    </section>
  </div>
  <TheTopInfoBox class="hero-image-box" />
</section>
