.navbar-list-content {
  display: table;
  table-layout: fixed;
  list-style: none;
  width: 100%;
  color: black;

  &-li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    transition: all 500ms 0s ease-out;

    &:hover {
      background-color: $color-main;
    }

    &-link {
      color: $color-font;
      &:hover {
        color: white;
      }
      &:hover &-sub {
        color: white;
      }
      &-sub {
        color: gray;
      }
    }
  }
}
