.navbar-list-content {
  list-style: none;
  display: grid;
  color: black;
  grid-template-columns: repeat(7, calc(100% / 7));
  &-li {
    &:hover {
      background-color: $color-main;
    }

    &-link {
      display: grid;
      grid-template-rows: 50px 30px;
      color: $color-font;
      &:hover {
        color: white;
      }
      &:hover &-sub {
        color: white;
      }
      &-main {
        text-align: center;
        align-self: center;
        padding-top: 5px;
        font-size: 15px;
        grid-row: 1 / 2;
      }
      &-sub {
        text-align: center;
        font-size: 10px;
        grid-row: 2 / 3;
        color: gray;
      }
    }
  }
}
