.navbar-list-content {
  display: table;
  list-style: none;
  width: 100%;
  color: black;

  &-li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    &-main {
      color: $color-font;
    }

    &-sub {
      color: $color-font;
    }
  }
}
